@media (max-width: 420px) {
  .font-display {
    display: none;
  }
}

@media (min-width: 421px) {
  .font-display {
    display: inline-block;
  }
}

@media (min-width: 522px) {
  .font-display {
    display: none;
  }
}

@media (min-width: 642px) {
  .font-display {
    display: inline-block;
  }
}
